:root{
--cor-de-fundo: rgb(224, 222, 218);
--cor-de-fundo-clara:  rgb(255, 255, 255);
--preto: black;
--branco:white;
--azul: blue;
--azul-marinho: navy;
--azul-celeste: skyblue;
--verde-escuro: rgb(4, 63, 4); 
}


body{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-de-fundo);
}

.former{
    width: 500px;
    background-color: var(--cor-de-fundo-clara);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    border-radius: 25px;
    border: rgb(221, 214, 214) solid 3px;
    box-shadow:  3px 3px, 3px 6px;
}

.header{
    border-bottom: 2px solid var(--preto);
    margin-bottom: 10px;
    width:400px;
    border-radius: 25px;
}
h2{
    font-family: Elephant;
    font-size: 30px;
}
.section-body{
    margin-top: 10px;

}
.btn{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 25px;
    color: var(--branco);
    background-color: var(--verde-escuro);
}
.form-item{
    margin-bottom: 20px;
}
label{
    font-family: Elephant;
}
input{
    width: 400px;
    height: 30px;
    background-color:var(--preto);
    border:none;
    color: var(--branco);
    text-align: center;
    border-radius: 15px;
}

input:valid {
    background-color: var(--preto);
    
  }
  input:focus{
    background-color: var(--preto);
  }
  input:active{
    background-color: var(--preto);
  }
  input:-webkit-autofill {
    background-color: var(--preto) !important;
    -webkit-box-shadow: 0 0 0 30px var(--preto) inset !important;
    -webkit-text-fill-color:var(--branco) !important;
}
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    background-color: var(--preto) !important;
    -webkit-box-shadow: 0 0 0 30px var(--preto) inset !important;
    -webkit-text-fill-color: var(--branco) !important;
}
